.title{
  font-size: 30px;
  margin-left: 5vw;
}

.titles{
  display:flex;
}

.done-btn{
  font-size: 15px;
  margin-left: 5vw;
  margin-top: 15px;
}

.order-list{
  height: 25px;
  display:flex;
  position: relative;
  border-bottom: #000 solid 1px;
  padding-top: 3px;
  background-color: #eeeeee ;
  margin-top:5px;
}

.num{
  position: absolute;
  margin-left: 1vw;
  color: blue;
}
.order_number{
  position: absolute;
  margin-left: 3vw;
  color: blue;
}
.order_name{
  position: absolute;
  margin-left: 8vw;
  color: blue;
}

.order_tel{
  position: absolute;
  margin-left: 18vw;
  color: blue;
}

.order_postal{
  position: absolute;
  margin-left: 27vw;
  color: blue;

}

.order_address{
  position: absolute;
  margin-left: 35vw;
  color: blue;
}
.order_product{
  position: absolute;
  margin-left: 90vw;
  color: blue;
}



.num2{
  position: absolute;
  margin-left: 3vw;
  color: blue;
}
.order_number2{
  position: absolute;
  margin-left: 5vw;
  color: blue;
}

.order_driver2{
  position: absolute;
  margin-left: 10vw;
  color: rgb(228, 21, 21);
  color: blue;
}

.order_ampm2{
  position: absolute;
  margin-left: 12vw;
  color: blue;
}

.order_address2{
  position: absolute;
  margin-left: 15vw;
  color: blue;
}
.order_product2{
  position: absolute;
  margin-left: 40vw;
  color: blue;
}

.order_text2{
  position: absolute;
  margin-left: 50vw;
  color: blue;
  width: 45vw;
}

.order_apointer{
  position: absolute;
  margin-left: 96vw;
  color: blue;
}

.deys-info{
  display: block;
  color: rgb(182, 12, 159);
  font-size: 20px;
}

.driver-info{
  weight:100vw;
  height: 5vh;
  font-size: 15px;
  color: #ea352d ;
}



.line{
  height:2px;
  weight:100vw;
  background-color: blue ;
  margin-bottom: 7px ;
}